<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autodesk Platform Services: Shares App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="https://cdn.autodesk.io/logo/black/stacked.png" alt="Autodesk Platform Services Logo" height="24" class="d-inline-block align-text-top me-2">
                Shares App
            </a>
            <form class="d-flex" role="search">
                <% if (user) { %>
                    <a href="/auth/logout" class="btn btn-outline-success">Logout (<%= user.name %>)</a>
                <% } else { %>
                    <a href="/auth/login" class="btn btn-outline-success">Login</a>
                <% } %>
            </form>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Error</h1>
        <p class="mt-4">
            <%= error.message %>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>